@import '~antd/dist/antd.css';


.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 4, 4, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}

.brand-logo-text{
  color: white;
  background-color: rgb(53, 15, 15);
  text-align: left;
  height: 50px;
  font-style: italic;
  font-size: 160%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonModal{
    float: left;
    margin-top: 1%;
    margin-left: 1em;
  }
  
  .site-layout-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    min-height: 450px;
  }
  
  .edit-blog-input{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
  }